.modal {
}
.fade {
     cursor: pointer;
}
.modal-dialog {
}
.modal-dialog-centered {
}
.modal-content {
}
.modal-header {
     border: 0;
}
.modal-title {
     padding-left: 15px;
     font-weight: 600;
     font-size: 26px;
     line-height: 31px;
     color: var(--color-violet);
}
.btn-close {
}
.modal-body {
     // padding: 0 30px 30px 30px;
     .feedback-form{
          padding: 0 0 0 0;
     }
}
