:root {
  --color-violet: #393185;
  --color-violet-light: #675DC3;
  --color-white: #ffffff;
  --color-white-bg: #fafafa;
  --color-black: #202020;
  --color-gray: #BABABA;
  --color-gray-dark: #818181;
  --color-red: #D24344;
  --color-green: #48B16E;
  --color-orange: #F9B974;
  --color-indigo: #5EB1FF;
  --color-violet-gray: #39318508;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1.2;
  font-family: "Raleway", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Raleway", sans-serif;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  text-align: left;
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  transition: all 0.3s ease 0s;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: var(--color-white-bg);
  color: var(--color-black);
  font-feature-settings: "pnum" on, "lnum" on;
  scroll-behavior: smooth;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}

.container {
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 15px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 24px;
  color: var(--color-black);
  font-weight: 600;
  line-height: 1.35;
}

.h1_white,
.h2_white,
.h3_white,
.h4_white,
.h5_white,
.h6_white {
  color: var(--color-white);
}

.h1_gold,
.h2_gold,
.h3_gold,
.h4_gold,
.h5_gold,
.h6_gold {
  color: var(--color-gold);
}

.h1 {
  font-size: 32px;
}

.h2 {
  font-size: 28px;
}

.h3 {
  font-size: 24px;
}

.h4 {
  font-size: 20px;
}

.h5 {
  font-size: 18px;
}

.h6 {
  font-size: 16px;
}

.section {
  margin-bottom: 130px;
}
@media (max-width: 1390px) {
  .section {
    margin-bottom: calc(50px + 80 * (100vw - 320px) / 1070);
  }
}

.button {
  display: inline-block;
  padding: 13px 40px;
  font-size: 20px;
  color: var(--color-violet);
  font-weight: 600;
  text-align: center;
  border: 2px solid var(--color-violet);
  background-color: transparent;
  border-radius: 30px;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
}
.button:hover {
  color: var(--color-white);
  background-color: var(--color-violet);
}
.button:disabled {
  cursor: not-allowed;
  color: var(--color-white);
  background-color: var(--color-gray);
  border-color: var(--color-gray);
}
.button_white {
  color: var(--color-white);
  border-color: var(--color-white);
}
.button_white:hover {
  color: var(--color-violet);
  background-color: var(--color-white);
}

.link-all {
  font-size: 18px;
  color: var(--color-gray);
  font-weight: 600;
}
.link-all i:before {
  transition: all 0.3s ease 0s;
}
.link-all:hover i:before {
  transform: rotate(45deg);
}
.link-all:hover {
  color: var(--color-violet-light);
}

.main-content {
  width: 100%;
  max-width: 650px;
  margin: 0px 0px 24px 0px;
}
.main-content__title {
  font-size: 40px;
  color: var(--color-violet);
  font-weight: 600;
}
@media (max-width: 1390px) {
  .main-content__title {
    font-size: calc(24px + 16 * (100vw - 320px) / 1070);
  }
}
.main-content__text {
  margin: 24px 0px 0px 0px;
  font-size: 18px;
  color: var(--color-gray);
}
@media (max-width: 1390px) {
  .main-content__text {
    font-size: calc(16px + 2 * (100vw - 320px) / 1070);
  }
}

.item-accordion {
  background: var(--color-violet-gray);
  border-radius: 20px;
}
.item-accordion:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.item-accordion:hover {
  background: rgba(57, 49, 133, 0.1019607843);
}
.item-accordion__button {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  color: var(--color-violet);
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.item-accordion__button_text {
  flex: 1 1 auto;
  text-align: left;
}
.item-accordion__button_icon {
  margin: 9px 0px 0px 16px;
  flex: 0 0 13px;
  height: 3px;
  background-color: var(--color-violet);
  position: relative;
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
}
.item-accordion__button_icon:before {
  content: "";
  width: 3px;
  height: 13px;
  background-color: var(--color-violet);
  position: absolute;
  top: -5px;
  left: 5px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.item-accordion__button.collapsed .item-accordion {
  border-color: var(--color-violet);
}
.item-accordion__button.collapsed .item-accordion__button_icon {
  transform: rotate(180deg);
}
.item-accordion__button.collapsed .item-accordion__button_icon:before {
  opacity: 1;
}
.item-accordion__body {
  padding: 0px 20px 20px;
}
.item-accordion:hover {
  border-color: var(--color-violet);
}

.services .services-wrapper {
  display: flex;
  flex-direction: row;
  background: var(--color-violet-gray);
  border-radius: 0px 50px;
  max-width: 1367px;
}
@media (max-width: 1390px) {
  .services .services-wrapper {
    max-width: calc(329px + 1038 * (100vw - 320px) / 1070);
  }
}
.services .services-wrapper .services-tabs {
  display: flex;
  flex-direction: column;
  background: var(--color-violet);
  border-radius: 0px 50px;
  padding: 35px 32px;
  max-width: 358px;
  width: 100%;
  align-items: flex-start;
}
.services .services-wrapper .services-tabs .button {
  display: flex;
  color: var(--color-white);
  font-style: normal;
  font-weight: 500;
  border: 1px solid var(--color-white);
  background-color: transparent;
  margin: 5px 0px;
  padding: 10px 20px;
  min-width: 140px;
  max-width: 100%;
  font-size: 16px;
  white-space: pre-wrap;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (max-width: 1390px) {
  .services .services-wrapper .services-tabs .button {
    font-size: calc(14px + 2 * (100vw - 320px) / 1070);
  }
}
.services .services-wrapper .services-tabs .button:hover {
  color: var(--color-violet);
  background-color: var(--color-white-bg);
}
.services .services-wrapper .services-tabs .tab {
  cursor: pointer;
}
.services .services-wrapper .services-tabs .tab-active {
  background-color: var(--color-white-bg);
  color: var(--color-violet);
  pointer-events: none;
}
.services .services-wrapper__content {
  margin-left: 106px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: 100%;
}
@media (max-width: 1390px) {
  .services .services-wrapper__content {
    margin-left: calc(20px + 86 * (100vw - 320px) / 1070);
  }
}
@media (max-width: 1390px) {
  .services .services-wrapper__content {
    margin-top: calc(25px + 5 * (100vw - 320px) / 1070);
  }
}
.services .services-wrapper__content .content {
  display: none;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 15px;
}
.services .services-wrapper__content .content ul {
  text-align: left;
  max-width: 814px;
  width: 100%;
  font-size: 18px;
}
.services .services-wrapper__content .content ul li {
  white-space: pre-wrap;
}
@media (max-width: 1390px) {
  .services .services-wrapper__content .content ul {
    font-size: calc(13px + 5 * (100vw - 320px) / 1070);
  }
}
.services .services-wrapper__content .content .service-links-scope {
  display: grid;
  gap: 20px 50px;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
}
.services .services-wrapper__content .content .service-links-scope .link-all {
  font-size: 16px;
  color: var(--color-violet);
  font-weight: 500;
}
@media (max-width: 1390px) {
  .services .services-wrapper__content .content .service-links-scope .link-all {
    font-size: calc(14px + 2 * (100vw - 320px) / 1070);
  }
}
.services .services-wrapper__content .content .service-links-scope .link-all i {
  margin-left: 3px !important;
}
.services .services-wrapper__content .content-active {
  display: flex;
  flex-direction: column;
}

.reviews {
  width: 100%;
}
.reviews__body .main-content__title:first-child {
  font-size: 70px;
}
.reviews__body .main-content__title:last-child {
  font-size: 30px;
}
.reviews__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 640px) {
  .reviews__wrapper {
    grid-template-columns: 1fr;
  }
}
.reviews__content {
  background: var(--color-violet-gray);
  max-width: 786px;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
}
.reviews__content:hover {
  background: rgba(57, 49, 133, 0.1019607843);
}
.reviews__img {
  max-width: 124px;
  width: 100%;
  border-radius: 10px;
}
.reviews__text {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}
.reviews__text .reviews__text-content {
  flex: 1 0 auto;
}
.reviews__text p {
  color: var(--color-black);
  cursor: text;
}
.reviews__text a {
  font-size: 16px;
  font-weight: 400;
}
.reviews__text .reviews__text-links {
  flex: 0 0 auto;
}
.reviews__title {
  color: var(--color-gray);
}
.reviews__prev p {
  max-width: 530px;
}
.reviews__comp img {
  mix-blend-mode: luminosity;
  opacity: 0.3;
  transition: all ease-in 0.3s;
  cursor: pointer;
  width: 100%;
  min-height: 32px;
}
.reviews__comp img:hover {
  mix-blend-mode: normal;
  opacity: 1;
}
.reviews__comp img:nth-child(1) {
  max-width: 151px;
}
.reviews__comp img:nth-child(2) {
  max-width: 118px;
}
.reviews__comp img:nth-child(3) {
  max-width: 136px;
}
.reviews__comp img:nth-child(4) {
  max-width: 208px;
}
.reviews__comp img:nth-child(5) {
  max-width: 166px;
}

.links-line {
  cursor: pointer;
}
.links-line a, .links-line span {
  color: var(--color-violet);
  font-weight: 400;
  line-height: 16px;
  font-size: 14px;
}
@media (max-width: 1390px) {
  .links-line a, .links-line span {
    font-size: calc(12px + 2 * (100vw - 320px) / 1070);
  }
}
.links-line__active {
  color: var(--color-gray) !important;
}

.services .reviews__content {
  max-width: 671px;
}
.services .reviews__content .link-all {
  font-size: 16px;
  font-weight: 400;
}
.services h2, .services h3 {
  font-weight: 600;
  color: var(--color-violet);
}
.services h2 {
  font-size: 20px;
  line-height: 23px;
  cursor: pointer;
}
.services .reviews__text {
  cursor: pointer;
}
.services .reviews__text h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}
.services .reviews__text span {
  font-weight: 400;
  cursor: pointer;
}

.faq-block {
  background-image: url("../img/faq/faq-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1367px;
  width: 100%;
  border-radius: 20px;
  min-height: 213px;
  padding: 48px 25px 65px 25px;
}
.faq-block__text p {
  color: var(--color-white);
  font-size: 18px;
  max-width: 427px;
}
.faq-block .button {
  max-width: 427px;
  width: 100%;
  font-size: 18px;
}
@media (max-width: 1390px) {
  .faq-block .button {
    font-size: calc(16px + 2 * (100vw - 320px) / 1070);
  }
}

.how-work__card {
  background: var(--color-violet-gray);
  border-radius: 20px 0px;
  max-width: 322px;
  width: 100%;
  margin-top: 20px;
}
.how-work__card p {
  margin-top: 20px;
  max-width: 257px;
}
.how-work__card .main-content__title {
  font-size: 20px;
  margin-top: 10px;
}
.how-work .how-work-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  -moz-column-gap: 26px;
       column-gap: 26px;
  width: 100%;
}
.how-work .test {
  outline: 1px solid red;
}

.benefits .main-content {
  margin: 0;
}
.benefits .main-content__title {
  font-size: 32px;
}
@media (max-width: 1390px) {
  .benefits .main-content__title {
    font-size: calc(26px + 6 * (100vw - 320px) / 1070);
  }
}
.benefits__card {
  margin-top: 40px;
  width: 100%;
  max-width: 438px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 1390px) {
  .benefits__card {
    max-width: calc(322px + 116 * (100vw - 320px) / 1070);
  }
}
.benefits__card p {
  width: 100%;
  margin-top: 20px;
  max-width: 380px;
}
@media (max-width: 1390px) {
  .benefits__card p {
    margin-top: calc(10px + 10 * (100vw - 320px) / 1070);
  }
}
@media only screen and (max-width: 1300px) {
  .benefits .benefits__card {
    max-width: 410px;
  }
}
@media only screen and (max-width: 1300px) and (max-width: 1390px) {
  .benefits .benefits__card {
    max-width: calc(100px + 310 * (100vw - 320px) / 1070);
  }
}
@media only screen and (max-width: 800px) {
  .benefits .benefits__card {
    max-width: 410px;
  }
}
@media only screen and (max-width: 800px) and (max-width: 1390px) {
  .benefits .benefits__card {
    max-width: calc(400px + 10 * (100vw - 320px) / 1070);
  }
}
.benefits__card > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 438px;
  background: var(--color-violet-gray);
  border-radius: 20px;
  padding: 16px 20px 16px 20px;
}
.benefits__card > div span {
  font-weight: 600;
  color: var(--color-violet);
  font-size: 20px;
}
@media (max-width: 1390px) {
  .benefits__card > div span {
    font-size: calc(16px + 4 * (100vw - 320px) / 1070);
  }
}
.benefits__card > div img {
  max-width: 34px;
  width: 100%;
}

.logo-wrapper .test {
  position: absolute;
  outline: 1px solid red;
}
.logo-wrapper .logo-circle-fill path {
  fill-opacity: 0.2;
  animation: colorFill 5s infinite;
}
.logo-wrapper .logo-circle-fill rect {
  animation: colorFill 5s infinite;
}
.logo-wrapper .logo-circle-fill g path {
  animation: iconGray 5s infinite;
}
.logo-wrapper .logo-circle-gray path {
  fill-opacity: 0.2;
  animation: colorGray 5s infinite;
}
@keyframes colorGray {
  0% {
    fill-opacity: 0.2;
  }
  50% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 0.2;
  }
}
@keyframes colorFill {
  0% {
    fill-opacity: 1;
  }
  50% {
    fill-opacity: 0.2;
  }
  100% {
    fill-opacity: 1;
  }
}
@keyframes iconGray {
  0% {
    fill: #393185;
    stroke: #393185;
  }
  50% {
    fill: white;
    stroke: white;
  }
  100% {
    fill: #393185;
    stroke: #393185;
  }
}

.questions-accordion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
@media (max-width: 740px) {
  .questions-accordion {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

.scrollup {
  width: 45px;
  height: 45px;
  opacity: 0.9;
  position: fixed;
  bottom: 12vh;
  right: 10vw;
  display: none;
  visibility: hidden;
  opacity: 0;
  background: var(--color-violet);
  transition: all ease-in 0.3s;
  z-index: 10;
  border: 1px solid var(--color-white);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
.scrollup .arrow {
  border: solid var(--color-white);
  border-width: 0 4px 4px 0;
  border-radius: 1px;
  display: inline-block;
  padding: 4px;
  transform: rotate(-135deg);
}
.scrollup:hover {
  background: var(--color-white);
  border: 1px solid var(--color-violet);
}
.scrollup:hover .arrow {
  border: solid var(--color-violet);
  border-width: 0 5px 5px 0;
  color: var(--color-violet);
  color: rgba(57, 49, 133, 0.431372549);
}

#cookieModal .item-accordion__button_icon {
  margin-left: 0;
}
#cookieModal .form-check-input:checked {
  background-color: var(--color-violet);
  border-color: var(--color-violet);
}
#cookieModal .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(57, 49, 133, 0.25);
  border-color: var(--color-violet);
}
#cookieModal .form-check-input {
  border-color: var(--color-gray);
}
#cookieModal .form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23393185'/%3e%3c/svg%3e");
}
#cookieModal .form-check-input:focus:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}
#cookieModal .item-accordion__button_text {
  font-size: 18px;
}
@media (max-width: 1390px) {
  #cookieModal .item-accordion__button_text {
    font-size: calc(14px + 4 * (100vw - 320px) / 1070);
  }
}
#cookieModal .cookies-close .button {
  font-size: 18px;
  line-height: 21px;
  padding: 10px 30px;
}
@media (max-width: 1390px) {
  #cookieModal .cookies-close .button {
    font-size: calc(14px + 4 * (100vw - 320px) / 1070);
  }
}
@media (max-width: 550px) {
  #cookieModal .item-accordion__button {
    padding: 10px 8px;
  }
}
#cookieModal .item-accordion__button {
  padding-right: 0;
}
#cookieModal .item-accordion h4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
}
@media (max-width: 550px) {
  #cookieModal .item-accordion h4 {
    padding-right: 5px;
  }
}
#cookieModal .form-switch input {
  font-size: 20px;
}
#cookieModal .item-accordion__button_icon {
  margin-top: 0;
}

.label-form {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: var(--color-violet);
}

.accent-block {
  font-size: 20px;
  line-height: normal;
  font-weight: 600;
  color: var(--color-violet);
  padding: 16px 0;
  border-radius: 20px;
  background-color: rgba(57, 49, 133, 0.03);
}

.form-control:focus {
  border: 1px solid var(--color-violet-light);
  box-shadow: 0 0 0 0.25rem rgba(57, 49, 133, 0.25);
}

.counseling-form .input input {
  background-color: var(--color-white-bg);
}
.counseling-form textarea {
  background-color: var(--color-white-bg);
}

.header {
  background-color: var(--color-violet);
  position: relative;
  z-index: 1050;
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 243px;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__list {
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
}
.header__phone {
  padding: 0px 0px 0px 30px;
  border-left: 1px solid var(--color-white);
  white-space: nowrap;
}
.header__phone a {
  font-size: 18px;
  color: var(--color-white);
}
.header__phone a:hover {
  color: var(--color-gray);
}
.header__social {
  width: 100%;
  display: none;
}
.header__social li {
  list-style: none;
}
.header__social .social-links {
  padding-left: 0;
  width: 100% !important;
}
@media (max-width: 990px) {
  .header__social {
    display: flex;
    align-items: flex-start;
  }
}
.header__consultation {
  padding: 0px 0px 0px 40px;
}
.header__consultation a {
  font-size: 16px;
  font-weight: 500;
}
.header__overflow {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
}
@media (max-width: 1150px) {
  .header__phone {
    padding: 0px 0px 0px 20px;
  }
}
@media (max-width: 1050px) {
  .header__consultation {
    display: none;
  }
}
@media (max-width: 992px) {
  .header {
    padding: 10px 0px;
  }
  .header__nav {
    padding: 70px 15px 30px;
    display: block;
    width: 100%;
    max-width: 400px;
    height: 100%;
    background-color: var(--color-violet);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    overflow: auto;
    transition: all 0.3s ease 0s;
    transform: translateX(120%);
  }
  .header__nav:before {
    content: "";
    width: 100%;
    height: 61px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--color-violet);
    z-index: 21;
  }
  .header__phone {
    width: 100%;
    flex: 1 1 auto;
    padding: 20px 0px 0px 0px;
    border-left: none;
    border-top: 1px solid var(--color-white);
  }
  .header__phone a {
    font-size: 18px;
    color: var(--color-white);
  }
  .header__phone a:hover {
    color: var(--color-gray);
  }
  .header__consultation {
    width: 100%;
    display: block;
    margin: 20px 0px 0px 0px;
    padding: 30px 0px 0px 0px;
    text-align: center;
    border-top: 1px solid var(--color-white);
  }
}

.menu-header {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menu-header__services-sub {
  display: none !important;
}
@media (max-width: 990px) {
  .menu-header__services-sub {
    display: flex !important;
  }
}
.menu-header__services {
  display: flex !important;
}
@media (max-width: 990px) {
  .menu-header__services {
    display: none !important;
  }
}
.menu-header > li {
  margin: 0px 0px 30px 0px;
}
.menu-header__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: var(--color-white);
  cursor: pointer;
}
.menu-header__link > i {
  margin: 0px 0px 0px 12px;
  font-size: 14px;
  transform: rotate(-90deg);
}
.menu-header__link > i:before {
  transition: all 0.3s ease 0s;
}
.menu-header__link:hover {
  color: var(--color-gray);
}
@media (min-width: 992px) {
  .menu-header {
    display: flex;
    align-items: center;
  }
  .menu-header > li {
    margin: 0px 75px 0px 0px;
  }
  .menu-header .hover-menu:hover > .submenu-header {
    opacity: 1;
    visibility: visible;
    z-index: 100;
  }
  .menu-header .hover-menu:hover .menu-header__link {
    color: var(--color-gray);
  }
  .menu-header .hover-menu:hover .menu-header__link:after {
    width: 100%;
  }
  .menu-header .hover-menu:hover > .menu-header__link i:before {
    transform: rotate(180deg);
  }
  .menu-header .hover-menu:hover:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 80;
    pointer-events: none;
    height: 100vh;
  }
  .menu-header__link {
    padding: 30px 0px;
    position: relative;
    font-size: 18px;
  }
  .menu-header__link:after {
    content: "";
    width: 0;
    height: 4px;
    background-color: var(--color-white);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease 0s;
  }
  .menu-header__link > i {
    font-size: 12px;
    transform: rotate(0);
  }
  .menu-header__link > i:before {
    transition: all 0.3s ease 0s;
  }
}
@media (min-width: 992px) and (max-width: 1300px) {
  .menu-header li {
    margin: 0px 40px 0px 0px;
  }
}
@media (min-width: 992px) and (max-width: 1150px) {
  .menu-header li {
    margin: 0px 20px 0px 0px;
  }
  .menu-header .menu-header__link i {
    margin: 0px 0px 0px 8px;
  }
}

.submenu-header {
  display: none;
  padding: 70px 15px 30px;
  width: 100%;
  height: 100%;
  max-width: 400px;
  background-color: var(--color-violet);
  position: fixed;
  z-index: 11;
  top: 0;
  right: 0;
  overflow: auto;
  transition: all 0.3s ease 0s;
}
.submenu-header._sub-menu-open {
  display: block;
}
.submenu-header__back {
  width: 100%;
  margin: 0px 0px 30px 0px;
  font-size: 20px;
  color: var(--color-white);
  font-weight: 700;
}
@media (max-width: 992px) {
  .submenu-header__body .row {
    display: block;
    margin: 0;
  }
  .submenu-header__body .row > div {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
.submenu-header__section .about-submenu {
  display: none;
}
@media (max-width: 992px) {
  .submenu-header__section .about-submenu {
    display: flex;
  }
}
.submenu-header__title {
  display: block;
  margin: 0px 0px 30px 0px;
  font-size: 20px;
  color: var(--color-white);
}
.submenu-header__title:hover {
  color: var(--color-gray);
}
.submenu-header__list {
  display: none;
}
@media (min-width: 992px) {
  .submenu-header {
    padding: 0;
    display: block;
    height: auto;
    max-width: none;
    background-color: var(--color-white);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    transform: translateX(0);
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .submenu-header__back {
    display: none;
  }
  .submenu-header__body {
    width: 100%;
    max-width: 1390px;
    margin: 0 auto;
    padding: 40px 15px;
  }
  .submenu-header__section:not(:last-child) {
    margin: 0px 0px 42px 0px;
  }
  .submenu-header__title {
    display: block;
    margin: 0px 0px 32px 0px;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid var(--color-gray);
    font-size: 16px;
    color: var(--color-gray);
    text-transform: uppercase;
  }
  .submenu-header__title:hover {
    color: var(--color-violet);
  }
  .submenu-header__list {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .submenu-header__list li:not(:last-child) {
    margin: 0px 0px 24px 0px;
  }
  .submenu-header__link {
    font-size: 16px;
    color: var(--color-black);
  }
  .submenu-header__link:hover {
    color: var(--color-violet-light);
  }
}

.button-menu {
  display: none;
}
@media (max-width: 992px) {
  .button-menu {
    display: block;
    width: 30px;
    height: 18px;
    padding: 0;
    background-color: transparent;
    border-bottom: none;
    position: relative;
    z-index: 11;
  }
  .button-menu:hover {
    background-color: transparent;
  }
  .button-menu i {
    display: none;
  }
  .button-menu span {
    width: 100%;
    height: 2px;
    background-color: var(--color-white);
    position: absolute;
    top: 8px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .button-menu span:first-child {
    top: 0;
  }
  .button-menu span:last-child {
    top: auto;
    bottom: 0;
  }
}

.menu-open .header__nav {
  transform: translateX(0);
}
.menu-open .header__overflow {
  opacity: 1;
  visibility: visible;
}
.menu-open .button-menu span {
  transform: scale(0);
}
.menu-open .button-menu span:first-child {
  transform: rotate(-45deg);
  top: 8px;
}
.menu-open .button-menu span:last-child {
  transform: rotate(45deg);
  bottom: 8px;
}

.sub-menu-open .header__nav {
  overflow: hidden;
}

.about-list.submenu-header__list {
  display: block;
}
.about-list.submenu-header__list li {
  list-style: none;
  padding-left: 0 !important;
}
@media (max-width: 990px) {
  .about-list.submenu-header__list {
    padding-left: 0 !important;
  }
  .about-list.submenu-header__list li {
    margin-bottom: 30px;
  }
  .about-list.submenu-header__list a {
    font-size: 20px;
    color: var(--color-white);
  }
  .about-list.submenu-header__list a:hover {
    color: var(--color-gray);
  }
}

.footer {
  padding: 60px 0px;
  background-color: var(--color-violet);
  font-size: 16px;
  color: var(--color-white);
}
.footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer a {
  color: var(--color-white);
}
.footer a:hover {
  color: var(--color-gray);
}
@media (max-width: 992px) {
  .footer {
    padding: 30px 0px;
  }
}

.footer-top {
  margin: 0px 0px 45px 0px;
}
.footer-top__section:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.footer-top .footer-contact ul li:last-child {
  max-width: 133px;
}
.footer-top .footer-contact ul li:last-child:hover {
  text-decoration: underline;
}
.footer-top__title {
  margin: 0px 0px 25px 0px;
  font-size: 20px;
  color: var(--color-gray);
  text-transform: uppercase;
}
.footer-top__list li:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.footer-top__list a {
  font-size: 16px;
}
@media (max-width: 992px) {
  .footer-top {
    margin: 0px 0px 30px 0px;
  }
  .footer-top__title {
    margin: 0px 0px 20px 0px;
  }
}

.social-links {
  display: flex;
  align-items: center;
}
.social-links li:not(:last-child) {
  margin: 0px 40px 0px 0px;
}
.social-links a {
  font-size: 25px;
}
.social-links a:hover {
  transform: translateY(-3px);
}
.social-links a svg path {
  transition: all ease-in 0.2s;
}
.social-links a:hover svg path {
  fill: var(--color-gray);
}

.policy-links li:not(:last-child) {
  margin: 0px 0px 13px 0px;
}
.policy-links a {
  font-size: 14px;
}

.footer-bottom {
  padding: 10px 0px 0px 0px;
  border-top: 1px solid var(--color-gray);
  font-size: 14px;
}
.footer-bottom__developer a {
  color: var(--color-white);
}
.input {
  font-size: 16px;
  color: var(--color-black);
  position: relative;
}
.input.error > input {
  border-color: var(--color-red);
}
.input.error > input:hover {
  border-color: var(--color-red);
}
.input.error > .input__text-error {
  display: block;
}
.input label {
  margin: 0px 0px 5px 0px;
}
.input input {
  width: 100%;
  padding: 13px 10px;
  border: 1px solid var(--color-gray);
  background-color: transparent;
  border-radius: 5px;
}
.input input:-webkit-autofill, .input input:-webkit-autofill:hover, .input input:-webkit-autofill:focus, .input input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--color-white) inset !important;
}
.input input:hover {
  border: 1px solid var(--color-violet);
}
.input input:focus {
  outline: 2px solid #E0DDFF;
}
.input input:disabled {
  background-color: var(--color-gray);
}
.input__text-error {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  font-size: 14px;
  color: var(--color-red);
}

.checkbox.error > .checkbox__label:before {
  border-color: var(--color-red);
}
.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox input:checked + .checkbox__label:before {
  border-color: var(--color-violet);
  background-color: var(--color-violet);
}
.checkbox input:checked + .checkbox__label:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 5px;
  width: 12px;
  height: 7px;
  border-left: 2.5px solid var(--color-white);
  border-bottom: 2.5px solid var(--color-white);
  transform: rotate(-50deg);
}
.checkbox__label {
  font-size: 16px;
  color: var(--color-black);
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.checkbox__label_text {
  flex: 1 1 auto;
}
.checkbox__label:before {
  content: "";
  margin: 0px 8px 0px 0px;
  align-self: flex-start;
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid var(--color-gray);
  border-radius: 4px;
  left: 0;
  top: 0;
}
.checkbox__label:hover:before {
  border-color: var(--color-violet);
}
.checkbox__label:active:before {
  outline: 2px solid #E0DDFF;
}
.checkbox__label a {
  color: var(--color-violet);
  text-decoration: underline;
}
.checkbox__label a:hover {
  text-decoration: none;
}

.radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio input:checked + .radio__label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  background-color: var(--color-violet);
  border-radius: 50%;
}
.radio__label {
  font-size: 16px;
  color: var(--color-black);
  display: flex;
  position: relative;
  cursor: pointer;
}
.radio__label:before {
  content: "";
  margin: 0px 8px 0px 0px;
  align-self: flex-start;
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid var(--color-gray);
  border-radius: 50%;
  left: 0;
  top: 0;
}
.radio__label:hover:before {
  border-color: var(--color-violet);
}
.radio__label:active:before {
  outline: 2px solid #E0DDFF;
}

.textarea {
  font-size: 16px;
  color: var(--color-black);
}
.textarea label {
  margin: 0px 0px 5px 0px;
}
.textarea textarea {
  min-height: 120px;
  width: 100%;
  padding: 13px 10px;
  border: 1px solid var(--color-gray);
  background-color: transparent;
  border-radius: 4px;
}
.textarea textarea:focus {
  outline: 2px solid #E0DDFF;
}
.textarea textarea:hover {
  border-color: var(--color-violet);
}

.feedback-form {
  padding: 70px 0px 0px 0px;
  max-width: 435px;
}
.feedback-form .feedback-label {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-violet);
}
.feedback-form__button {
  margin: 40px 0px 0px 0px;
}
.feedback-form__button button {
  font-weight: 500;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
  transition: all 0.3s ease 0s;
  margin-top: 82px !important;
}

.cursor {
  display: inline-block;
  background-color: rgba(57, 49, 133, 0.5);
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

.cursor.typing {
  animation: none;
}

@keyframes blink {
  0% {
    background-color: rgba(57, 49, 133, 0.5);
  }
  49% {
    background-color: rgba(57, 49, 133, 0.5);
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(57, 49, 133, 0.5);
  }
}
.main-block {
  margin-top: 130px;
}
@media (max-width: 1390px) {
  .main-block {
    margin-top: calc(50px + 80 * (100vw - 320px) / 1070);
  }
}
.main-block__body .button {
  padding: 13px 40px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9215686275);
  border: 2px solid var(--color-violet);
  background-color: var(--color-violet);
}
.main-block__body .button:hover {
  color: var(--color-violet);
  background-color: var(--color-white-bg);
}
.main-block__title {
  margin-bottom: 60px;
  font-size: 60px;
  color: var(--color-violet);
  font-weight: 600;
}
@media (max-width: 1390px) {
  .main-block__title {
    margin-bottom: calc(30px + 30 * (100vw - 320px) / 1070);
  }
}
@media (max-width: 1390px) {
  .main-block__title {
    font-size: calc(28px + 32 * (100vw - 320px) / 1070);
  }
}
.main-block__text {
  width: 100%;
  max-width: 500px;
  margin-bottom: 60px;
  font-size: 18px;
  color: var(--color-black);
}
@media (max-width: 1390px) {
  .main-block__text {
    margin-bottom: calc(30px + 30 * (100vw - 320px) / 1070);
  }
}
@media (max-width: 1390px) {
  .main-block__text {
    font-size: calc(16px + 2 * (100vw - 320px) / 1070);
  }
}
.main-block .container {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 1100px) {
  .main-block .container {
    flex-direction: column;
  }
  .main-block .container img {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 1100px) and (max-width: 1390px) {
  .main-block .container img {
    margin-top: calc(20px + 10 * (100vw - 320px) / 1070);
  }
}
.main-block img {
  max-width: 672px;
}
@media (max-width: 1390px) {
  .main-block img {
    max-width: calc(609px + 63 * (100vw - 320px) / 1070);
  }
}

.numbers {
  padding: 80px 0px;
  background-color: var(--color-violet);
  color: var(--color-white);
}
.numbers__title {
  margin-bottom: 60px;
  font-size: 40px;
}
@media (max-width: 1390px) {
  .numbers__title {
    margin-bottom: calc(30px + 30 * (100vw - 320px) / 1070);
  }
}
@media (max-width: 1390px) {
  .numbers__title {
    font-size: calc(25px + 15 * (100vw - 320px) / 1070);
  }
}

.item-numbers__count {
  margin: 0px 0px 5px 0px;
  font-size: 44px;
}
@media (max-width: 1390px) {
  .item-numbers__count {
    font-size: calc(30px + 14 * (100vw - 320px) / 1070);
  }
}
.item-numbers__text {
  font-size: 18px;
}

.cooperation__content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cooperation__gif {
  padding: 0px 0px 0px 30px;
}

.main-questions__accordion {
  margin: 24px 0px 0px 0px;
}
.main-questions .link-all:hover {
  color: var(--color-violet-light);
}

.fade {
  cursor: pointer;
}

.modal-header {
  border: 0;
}

.modal-title {
  padding-left: 15px;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  color: var(--color-violet);
}

.modal-body .feedback-form {
  padding: 0 0 0 0;
}

@media only screen and (max-width: 780px) {
  .services .services-wrapper {
    flex-direction: column;
    padding-bottom: 40px;
    max-height: 100%;
  }
  .services .services-wrapper .services-tabs {
    display: flex;
    flex-direction: column;
    padding: 27.5px 20px;
    max-width: 100%;
  }
  .services .services-wrapper .services-tabs .button {
    display: flex;
    margin: 5px 0px;
  }
  .services .services-wrapper__content {
    margin-left: 0;
  }
  .services .services-wrapper__content .content {
    padding-bottom: 0;
  }
  .services .services-wrapper__content .content p {
    max-width: 310px;
  }
  .services .services-wrapper__content .service-links-scope {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }
  .services .services-wrapper .content-active {
    display: flex;
    flex-direction: column;
  }
}
.container-personal {
  width: 100%;
  max-width: 1830px;
  margin: 0 auto;
  padding: 0 15px;
}

.about .main-content__text {
  color: var(--color-black);
}
.about .main-content__numbers span {
  font-size: 30px;
  color: var(--color-violet);
  font-weight: 500;
}
.about .main-content__numbers p {
  color: var(--color-gray);
  font-size: 15px;
  font-weight: 400;
}
.about .about-img-prev {
  max-width: 437px;
}
.about .about-img-prev img {
  width: 100%;
}
.about .about-section-main {
  display: flex;
  justify-content: space-between;
}
.about .about-section-main .main-content {
  max-width: 784px;
}
.about .about-img-main .img-prev {
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 325px;
  width: 100%;
  padding: 15px 15px 0 15px;
  min-height: 321px;
}
.about .about-img-main .img-prev img {
  width: 100%;
}
.about .about-img-main__title {
  font-weight: 600;
  font-size: 22px;
  color: var(--color-violet);
}
.about .about-img-main__text {
  font-weight: 400;
  font-size: 15px;
}
.about .about-img-main img:nth-child(2) {
  display: none;
}

.team-swiper .swiper-button-prev, .team-swiper .swiper-button-next {
  color: var(--color-white);
}

.swiper-slide .slider-img-wrapper {
  background: rgba(0, 0, 0, 0.45);
  max-width: 642px;
}
.swiper-slide .slider-img-wrapper .slider-img {
  position: relative;
  z-index: -2;
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .swiper-slide .slider-img-wrapper {
    background: rgba(0, 0, 0, 0);
  }
}

.swiper-slide-next .slider-img-wrapper {
  background: none;
}

.page-404 {
  padding: 100px 0 100px 0;
}

.contact-block .contact-info__title {
  color: var(--color-gray);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 5px;
}
.contact-block .contact-info p {
  color: var(--color-black);
  font-weight: 400;
  font-size: 18px;
  max-width: 322px;
  margin-top: 10px;
}
.contact-block .contact-info .social-links {
  padding-left: 0;
  margin-left: 0;
}
.contact-block .contact-info .social-links li {
  list-style: none;
}
.contact-block .contact-info .social-links li svg path {
  fill: var(--color-violet);
}
.contact-block .contact-info a {
  color: var(--color-black);
}
.contact-block .contact-info a:hover {
  color: var(--color-violet-light);
}
.contact-block .contact-info .social-links a svg:hover path {
  fill: var(--color-violet-light);
}

.contact-map {
  max-width: 630px;
  width: 100%;
}
.contact-map img {
  width: 100%;
}

.cookies {
  margin: 0;
}
.cookies .alert {
  background: #E7E6EE;
  border-radius: 20px;
  padding: 12px 20px;
}
.cookies .button {
  font-weight: 500;
  font-size: 15px;
  padding: 10px 30px;
}
.cookies span {
  font-weight: 400;
  font-size: 16px;
}
.cookies .cookies-close .button {
  max-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
@media (min-width: 1100px) {
  .cookies .cookies-close .button {
    max-width: 137px;
  }
}
.cookies .cookies-main {
  text-align: left;
}
.cookies .cookies-main span {
  cursor: text;
}
.cookies .cookies-main a {
  color: var(--color-violet);
  text-decoration: underline;
  font-weight: 600;
}
.cookies .cookies-main a:hover {
  color: var(--color-violet);
  text-decoration: underline;
}

.services-main .services-block {
  background: var(--color-violet-gray);
  border-radius: 20px;
  margin: 20px 0;
  padding: 30px;
  cursor: pointer;
}
.services-main .services-block__title {
  color: var(--color-violet);
  font-weight: 500;
  font-size: 22px;
}
@media (max-width: 1390px) {
  .services-main .services-block__title {
    font-size: calc(18px + 4 * (100vw - 320px) / 1070);
  }
}
.services-main .services-block__text {
  color: var(--color-black);
  font-weight: 400;
  font-size: 18px;
  margin-top: 20px;
}
@media (max-width: 1390px) {
  .services-main .services-block__text {
    font-size: calc(14px + 4 * (100vw - 320px) / 1070);
  }
}
.services-main .services-block .link-all {
  opacity: 0;
  transition: all ease-in 0.3s;
  margin-top: 20px;
  font-size: 18px;
}
@media (max-width: 1390px) {
  .services-main .services-block .link-all {
    font-size: calc(16px + 2 * (100vw - 320px) / 1070);
  }
}
.services-main .services-block .link-all i:before {
  transform: rotate(45deg);
}
.services-main .services-block .link-all {
  color: var(--color-violet-light);
}
.services-main .services-block:hover {
  background: rgba(57, 49, 133, 0.1019607843);
}
.services-main .services-block:hover .link-all {
  opacity: 1;
}
@media (max-width: 780px) {
  .services-main .services-block .link-all {
    opacity: 1;
  }
}

.vacancy-placeholder span {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: var(--color-gray);
  font-size: 24px;
}
@media (max-width: 1390px) {
  .vacancy-placeholder span {
    font-size: calc(20px + 4 * (100vw - 320px) / 1070);
  }
}

.vacancy .img-prev-vacancy img {
  max-width: 438px;
  width: 100%;
}
.vacancy .img-prev-vacancy .button {
  padding: 15px 60px;
  font-size: 18px;
}
@media (max-width: 1390px) {
  .vacancy .img-prev-vacancy .button {
    font-size: calc(16px + 2 * (100vw - 320px) / 1070);
  }
}

.vacancy-block .vacancy-headline {
  color: var(--color-violet);
  font-size: 16px;
  font-weight: 600;
}
@media (max-width: 1390px) {
  .vacancy-block .vacancy-headline {
    font-size: calc(15px + 1 * (100vw - 320px) / 1070);
  }
}
.vacancy-block p, .vacancy-block li {
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 1390px) {
  .vacancy-block p, .vacancy-block li {
    font-size: calc(15px + 1 * (100vw - 320px) / 1070);
  }
}
.vacancy-block .button {
  padding: 10px 40px;
  font-size: 16px;
}
.vacancy-block .input-file {
  width: 100%;
}
.vacancy-block .input-file input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.vacancy-block .input-file input + label {
  width: 100%;
  height: 100%;
  max-height: 48px;
  background: transparent;
  border: 1px dashed #BABABA;
  border-radius: 5px;
  padding: 12px 35px 12px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: var(--color-gray);
}
.vacancy-block .input-file input + label svg {
  margin-right: 10px;
}
.vacancy-block .input-file input:focus + label,
.vacancy-block .input-file input + label:hover {
  color: var(--color-violet);
}
.vacancy-block .input-file input:focus + label svg path, .vacancy-block .input-file input + label:hover svg path {
  fill: var(--color-violet);
}
.vacancy-block .input-file input + label {
  cursor: pointer;
}

.feedback .feedback-form {
  padding: 25px 0px 0px 0px;
}
.feedback .feedback-img {
  border-radius: 0px 20px 20px 20px;
  max-width: 439px;
  width: 100%;
  max-height: 475px;
  height: 100%;
  background: url("../img/main-page/feedback-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -150px;
}
@media (max-width: 765px) {
  .feedback .feedback-img {
    display: none;
  }
}
.feedback .main-content__text {
  margin-top: 65px;
}
@media (max-width: 765px) {
  .feedback .main-content__text {
    margin-top: 0px;
  }
}

.img-prev {
  opacity: 0.5;
  transition: all ease-in 0.3s;
}
.img-prev:hover {
  opacity: 1;
}